.jumbotron {
  background-image: url(landing.jpg);
  text-align:center;
}
button.customBtn {
  border: solid;
  background-image: url(breakfast.jpg);
  background-size: cover;
  width: 150px;
  height: 110px;
}
button.customBtp {
  border: solid;
  background-image: url(lunch.jpg);
  background-size: cover;
  width: 150px;
  height: 110px;
}
button.customBtk {
  border: solid;
  background-image: url(dinner2.jpg);
  background-size: cover;
  width: 150px;
  height: 110px;
}
button.customBtl {
  border: none;
  background-color: darkorange;
  background-size: 100%;
  width: 150px;
  height: 70px;
}
button.customBth {
  border: none;
  background-color: white;
  background-size: 100%;
  width: 150px;
  height: 70px;
}
.img1 {
  float: left;
  width: 550px;
}
.llt {

}
.img2 {
  float: right;
}
.text {
}
.classified {
  border: none;
  background-color: grey;
  background-size: cover;
  width: 300px;
  height: 40px;
}
#pic {
  background-image: url(foodsBg.jpg);
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 120px;
}
.initially-hidden {
  display: none;
  background-color: white;
  padding-top: 40px;
}
.classified1 {
  border: none;
  background-color: grey;
  background-size: cover;
  width: 180px;
  height: 40px;
}
.white {
  border: none;
  background-color: white;
  text-decoration-color: orange;
  background-size: cover;
  width: 300px;
  height: 40px;
}
